<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Capital</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-input-pais
          placeholder="Buscar Capital..."
          (onEnter)="buscar($event)"
          (onDebounce)="sugerencias($event)">
        </app-input-pais>
    </div>
  </div>
</div>

<hr>
<div class="alert alert-danger animate__animated animate__fadeIn" *ngIf="hayError">
  No se encontro nada con el termino: {{termino}}
</div>

<div class="row">
  <div class="col">
   <app-tabla-pais [paises]="paises"></app-tabla-pais>
  </div>
</div>
