<div *ngIf="!pais;else divPais"
      class="alert alert-info">
  Espere porfavor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>Pais: <small>{{pais[0].name.common}}</small></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais[0].flags.png" class="img-thumbnail">
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Poblacion</strong> {{pais[0].population | number}}
        </li>
        <li class="list-group-item">
          <strong>Capital</strong> {{pais[0].capital[0]}}
        </li>
        <li class="list-group-item">
          <strong>Continente</strong> {{pais[0].region}}
        </li>
      </ul>
    </div>
  </div>
  <!-- <h4>Traducciones</h4>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary mr-1">{{pais[0].translations.jpn.official}}</span>
    </div>
  </div> -->

</ng-template>
